<!DOCTYPE html>
<html lang="en-gb">
    <head>
        <script src="https://unpkg.com/htmx.org@2.0.2"></script>
        <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>
        <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/json-enc.js"></script>

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link rel="icon" type="image/x-icon" href="/static/img/icon.png">

        <title>{{ page_title }}</title>

        <meta name="title" content="{{ page_title }}"/>
        <meta property="og:title" content="{{ page_title }}"/>
        <meta property="twitter:title" content="{{ page_title }}"/>

        <meta name="description" content="{{ page_description }}"/>
        <meta property="og:description" content="{{ page_description }}"/>
        <meta property="twitter:description" content="{{ page_description }}"/>

        <link rel="stylesheet" href="/assets/css/styles-{{ build_date }}.css">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/prism-themes/1.9.0/prism-a11y-dark.min.css" rel="stylesheet" defer>
        <script src="https://cdn.usefathom.com/script.js" data-site="XPKVFMEO" defer></script>
        <script href="https://cdnjs.cloudflare.com/ajax/libs/prism-core.min.js" defer></script>
        <script href="https://cdnjs.cloudflare.com/ajax/libs/prism-autoloader.min.js" defer></script>

        {% block head %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
