@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* ---------------- Core ---------------- */

  html {
    font-size: 16px;
  }

  * {
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
      sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
    font-display: swap;
  }

  body {
    @apply bg-background text-text;
  }

  input {
      @apply text-black;
  }

  /* ---------------- Components ---------------- */

  .chat_page {
    @apply flex flex-row w-full;

    .chat_list {
      @apply flex-col items-start bg-red-500 h-full hidden md:flex md:w-[30%];

      .chat {
        @apply bg-pink-500 flex flex-col w-full p-2 border-b-border border-b-2 last:border-b-0;

        .name {
            @apply text-xl;
        }

        .timestamp {
            @apply text-secondary;
        }
      }
    }

    .chat_messages {
      @apply flex flex-col w-full items-start bg-blue-500 h-full;
    }
  }

  .chat_message {
    @apply px-4 my-4 bg-blue-500;
  }
}
